$productMonographColor: #4e677f;

.reference-product-monograph {
  padding: 0;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .product-monograph-container {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left;

    p, a, li {
      margin: 0;
      padding: 0;
    }

    p, a {
      color: $productMonographColor;
    }

    .absolute-box {
      height: calc(100vh - 120px);
    }

    .logo-container {
      position: absolute;
      width: 100%;
      top: 10%;
      right: 3%;
      max-width: 55%;
      min-width: 320px;

    }

    .product-monograph-content {
      position: absolute;
      top: 45%;
      right: 3vw;
      transform: translateY(-50%);


      p, a {
        //font-size: 34px;
        font-size: 2.15vw;
        //font-size: min(32.15vw, 34px);
        font-family: "ITCAvantGardeGothicMedium", sans-serif;
        margin: 0;
      }

      a {
        text-decoration: underline;
      }
    }

    .bottom-content {
      position: absolute;
      bottom: 0;
      width: 100%;

      .secondary-logo-container {
        display: flex;
        align-items: center;
        align-content: center;
        padding: 15px 30px;

        .disclaimer p {
          font-size: 12px;
          color: white;
        }

        .logo {
          width: 300px;
        }
      }

      .flex-container {
        display: flex;
        justify-content: space-between;

        ul {
          display: flex;
          padding: 0;
          list-style-type: none;

          li {
            padding: 0 10px;
            position: relative;

            a {
              font-size: 16px;

            }

            &:before {
              content: '|';
              position: absolute;
              left: -3px;
              color: $productMonographColor;
            }

            &:last-of-type {
              &:after {
                content: '|';
                position: absolute;
                right: -3px;
                color: $productMonographColor;

              }
            }
          }
        }

      }

      .disclaimer {
        p {
          font-size: 14px;
        }
      }

      .yellow-background {
        background: #ffcb05;
        padding: 10px 20px;
      }
    }

    @media (min-width: 2200px) {
      .logo-container {
        max-width: 1140px;

      }
      .product-monograph-content {
        top: 450px;
      }
    }
    @media (min-width: 1920px) {
      .product-monograph-content {
        a {
          font-size: 36px;
        }
      }
    }
    @media (max-width: 1270px) {
      .flex-container {
        flex-wrap: wrap;

        ul {
          margin: 0;
          flex-wrap: wrap;
        }
      }
    }
    @media (max-width: 1190px) {
      .product-monograph-content {
        top: 35%;
      }
    }
    @media (max-width: 768px) {
      background-size: 90vw;
      background-position: -60px bottom;
      .product-monograph-content {
        text-align: center;
        right: 0;
        padding-right: 10px;

        a {
          font-size: 22px;
        }
      }
      .bottom-content {
        .secondary-logo-container {
          .logo {
            width: 220px;
          }
        }

        .flex-container {
          ul {
            li {
              &:before,
              &:after {
                display: none;
              }

              a {
                border-bottom: 1px solid;
                padding-bottom: 2px;
              }
            }
          }
        }

        .disclaimer {
          margin-top: 10px;
        }
      }
    }
    @media (max-width: 500px) {
      background-size: 100vw;
      background-position-x: -90px;
      .product-monograph-content {
        top: 65vw;

        a {
          font-size: 16px;
        }
      }
      .logo-container {
        width: calc(100% - 30px);
        margin: 0 10px;
        right: 0;
        top: 13%;
        max-width: 100%;
      }
      .bottom-content {
        .secondary-logo-container {
          justify-content: center;

          .logo {
            width: 180px;
          }
        }

        .flex-container {
          ul {
            justify-content: center;

            li {
              padding: 0 8px;

              a {
                font-size: 10px;
              }
            }
          }
        }

        .disclaimer {
          p {
            font-size: 10px;
          }
        }
      }
    }
    @media (max-width: 360px) {
      background-size: 85vw;
      background-position-x: -30px;
      .bottom-content {
        .secondary-logo-container {
          .logo {
            width: 150px;
          }
        }
      }
      .logo-container {
        right: 0;
      }
    ;
    }

    //only iPhone 5/se
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
      background-size: 90vw;
      background-position-x: -40px;
      .logo-container {
        top: 5%;
        right: auto;
        margin: 0 auto;
        text-align: center;

        img {
          max-width: 90%;
        }
      }
      .product-monograph-content {
        top: 48vw;
      }
      .bottom-content {
        .disclaimer {
          p {
            font-size: 8px;
          }
        }

        .flex-container {
          ul {
            li {
              a {
                font-size: 8px;
              }

            }
          }
        }

        .secondary-logo-container {
          padding: 15px 10px;

          .logo {
            width: 130px;
          }
        }
      }
    }
    // only iPhone 6/7/8
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
      background-size: 83vw;
      background-position-x: -30px;
      .logo-container {
        top: 10%;
        right: auto;
      }
      .product-monograph-content {
        top: 60vw;
      }
      .bottom-content {
        .secondary-logo-container {
          .logo {
            width: 150px;
          }
        }

        .flex-container {
          ul {
            li {
              a {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
    //only pixel 2xl
    @media screen and (device-width: 411px) and (device-height: 823px) and (-webkit-device-pixel-ratio: 3.5) {

      background-size: 83vw;
      background-position-x: -55px;
    }

    //only iPhone 6+/7+/8+
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
      background-size: 105vw;
      background-position-x: -40px;
      .bottom-content {
        .flex-container {
          justify-content: center;
        }

        .secondary-logo-container {
          padding: 0 5px;
          justify-content: flex-start;
        }
      }
    }
    @media screen and (min-width: 1530px) and (min-height: 745px) {
      .product-monograph-content {
        top: 50%;
      }
    }

  }
}

.page-cabenuva {
  #content {
    padding: 0;

    .layout-inner > div {
      padding: 0;
    }
  }

  #footer {
    display: none;
  }
}
