



.text-uppercase {
  text-transform: uppercase;
}

.errorpage .vx-headerlogo {
  width: auto!important;
}

#content .dovato-style {

  $color-style-1: #8a2255;
  $color-style-2: #d8177a;
  $color-style-3: #fef8f7;
  $color-style-4: #8a2255;

  $dovatoColor01: #fcf9f5;
  $dovatoColor02: #f3e5eb;
  $dovatoColor03: #e61e76;
  $dovatoColor04: #8e1c58;

  $tabletBreakpoint: 1024px;
  $mobileBreakpoint: 767px;
  $smallMobileBreakpoint: 460px;

  @media (max-width: $tabletBreakpoint) {  }
  @media (max-width: $mobileBreakpoint) {  }

  .bg-color-1 { background-color: $dovatoColor01}
  .bg-color-2 { background-color: $dovatoColor02}
  .bg-color-3 { background-color: $dovatoColor03}
  .bg-color-4 { background-color: $dovatoColor04}

  .text-color-1 * { color: #fff!important;}

  .no-margin {
    padding: 0;
  }

  .big-text {
    p, h1, h2, h3, h4, ul, li{
      font-size: 1.8em;
    }
  }



  .reference-trustrack .vx-content-subheading {
    color: #fff;
  }

  .content-container .component-content .reference-trustrack .component-content {
    padding: 0;
    margin: 0;
    border-radius: 0;
    h2 {
      span {
        color: #fff!important;
      }
      color: #fff!important;
    }
  }
  .image.padding-top-15 {
    margin-top: 15px;
  }

  .richText.box-download {
    border: 2px solid $dovatoColor04;
    padding: 0;
    border-bottom: 0;
    h2 {
      color: #fff;


    }
    h3 {
      background-color: $dovatoColor02;
      padding: 10px;
      margin: 0 0 20px 0;
      text-align: center;
    }
    p {
      padding: 0;
      margin: 0;
      a {
        &.button.download {
          background: #fff;
          border-bottom: 2px solid $dovatoColor04;
          display: block;
          border-radius: 0;
          width: 100%;
          max-width: 100%;
          color: $dovatoColor04;
          text-align: left;
          margin: 0;
          padding-right: 60px;
          position: relative;
          &:after {
            content: '';
            position: absolute;
            top: 10px;
            right: 30px;
            background-image: url("../../assets/img/download_icon.png");
            background-repeat: no-repeat;
            background-position: center right;
            width: 40px;
            height: 30px;
          }

        }
      }
    }
  }

  a.button {
    text-align: center;
    background: $dovatoColor03;
    color: #fff;
    padding: 15px;
    margin-top: 20px;
    border-radius: 4px;
    display: inline-block;
    max-width: 250px;
    font-size: 14px;
    opacity: 1;
    border: 0;
  }

  p, li {
    font-size: 16px!important;
  }
  ul li {
    &:before {
      content: '';
      position: absolute!important;
      width: 6px;
      height: 6px;
      background: $color-style-2;
      border-radius: 50%;
      top: 10px;
    }
  }

  .small-text {
    p, li {
      font-size: 12px!important;
    }
  }
  .richText.component {
    margin-bottom: 0;
  }

   h2 {
    //background: $color-style-1;
     font-size: 20px;
    color: #fff;
    font-family: "FalenaBold", sans-serif !important;
    text-transform: uppercase;
    padding: 25px 30px;
    line-height: 1.1;
     margin: 0;
  }

  .reference-vx-article-teaser {
    & > .component-content {
      height: 100%;
      margin: 0;
      //margin-bottom: 30px;
      & > .vx-article-teaser {
        height: 100%;
        padding-bottom: 30px;
      }
    }
    .box-download {
      .vx-module-content {
        background: $color-style-3;
        height: 100%;
        .banner-content {

        }
        .title {
          h3, h2 {
            background: $color-style-1;
            color: #fff;
            font-family: "FalenaBold", sans-serif !important;
            text-transform: uppercase;
            padding: 25px 30px;
            margin: 15px 0;
            line-height: 1.1;
          }
        }
        .description {
          padding: 0 30px;
          margin: 30px 0;
          p {
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            color: $color-style-1;

            margin: 10px 0 20px 0;
          }
          ul, ol {
            margin: 10px 0 20px 0;
            padding-left: 30px;
            color: $color-style-1;
            font-weight: 400;
            font-family: 'Open Sans', sans-serif!important;
            font-size: 18px;
            li {
              font-family: 'Open Sans', sans-serif!important;
              &:before {
                display: none;
              }
            }
          }
          ul li {
            list-style: initial;
            &:before {
              display: none;
            }
          }
        }
        .cta {
          padding: 0 30px 0 30px;
          margin: 30px 0;
          a {
            position: relative;
            display: inline-block;

            &.vx-button {
              &.download {
                border: 1px solid $color-style-1;
                color: $color-style-1;
                text-transform: unset;
                font-family: "AvantGardeGothicITCW01D 731075", sans-serif;
                font-size: 14px;
                padding: 17px 50px 17px 15px;
                line-height: 1.1;
                &:after {
                  content: '';
                  width: 20px;
                  height: 20px;
                  background-image: url("../../assets/images/icons/download_icon.png");
                  background-repeat: no-repeat;
                  background-size: contain;
                  position: absolute;
                  top: 12px;
                  right: 15px;
                }
                &:hover {
                  border: 1px solid $color-style-1;

                }
              }
            }
          }
        }

      }
    }
  }


  .reference-vx-dovato-v4-topbanner {
    position: relative;
    overflow: hidden;
    & > .component-content {
      overflow: hidden;

      & > section {
        overflow: hidden;
        position: relative;
        height: 315px;
        background-size: cover;
        background-position: right top;
        & > .component-content {

        }
      }
    }
    .banner-content {
      padding-left: 500px;
    }
    .title {
      position: absolute;
      top: 0;
      left: -70px;
      transform: skew(-15deg);
      background: $color-style-1;
      height: 100%;
      width: 490px;
      padding: 30px 55px 30px 100px;
      display: inline-flex;
      align-content: center;
      h2 {
        transform: skew(15deg);
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
        align-self: center;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        text-align: center;
        line-height: 1;
        padding: 20px 0;
        font-size: 35px;

        .small {
          font-size: 30px;
        }

        .thin, sup {
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
        }
      }
    }
    .logo {
      width: 315px;
      text-align: center;
      z-index: 99;
      img {
        width: 235px;
      }
    }
    .subtitle {
      z-index: 99;
      width: 315px;
      border-bottom: 1px solid $color-style-2;
      margin-bottom: 20px;
      h1 {
        font-family: "FalenaBold", sans-serif !important;
        text-align: center;
        line-height: 1;
        margin: 0;
        padding: 30px 0 0 0;
      }
    }
    .disclaimer {
      z-index: 99;
      padding: 20px 0 0 0;
      margin-left: -40px;
      width: 450px;
      text-align: center;font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 12px!important;
    }

    @media (max-width: $tabletBreakpoint) {
      & > .component-content {
        & > section {
          position: relative;
          height: auto;
          background-size: cover;
          background-position: calc(100% + 120px) 0;
          margin-top: 100px;
          & > .component-content {

          }
        }
      }
      .banner-content {
        padding-left: 0;
        display: flex;
        flex-direction: column;
      }
      .title {
        order: 3;
        position: relative;
        top: initial;
        left: -30px;
        height: auto;
        width: 70%;
        padding: 0 10px 0 40px;
        display: inline-block;
        h2 {
          border-top: 0;
          border-bottom: 0;
          text-align: left;
          line-height: 1;
          padding: 5px 0;
          font-size: 25px;

          .small {
            font-size: 21px;
          }

          .thin, sup {
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
          }
        }
      }
      .logo {
        order: 1;
        width: auto;
        text-align: left;
        padding: 30px 0 0 10px;
        img {
          width: 160px;
        }
      }
      .subtitle {
        order: 2;
        width: auto;
        border-bottom: 0;
        margin-bottom: 0;
        h1 {
          text-align: left;
          width: 70%;
          padding: 30px 0 15px 10px;
        }
      }
      .disclaimer {
        order: 4;
        text-align: left;
        padding: 20px 20px 20px 10px;
        margin-left: 0;
        width: 60%;
      }
    }
    @media (max-width: $smallMobileBreakpoint) {
      & > .component-content {
        & > section {
          position: relative;
          height: auto;
          background-size: cover;
          background-position: calc(100% + 160px) 0;
          margin-top: 100px;
          & > .component-content {

          }
        }
      }
      .banner-content {
        h1 {
          font-size: 35px;
        }
        &:before {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(90deg, rgba(242, 246, 246, 1) 0%, rgba(242, 246, 246, 1) 30%, rgba(242, 246, 246, 0) 70%);
        }
      }
    }



  }



  .bg-content {
    & > .component-content {
      padding: 0 15px;
    };
  }

  .bg-color-1.bg-content {
    background-color: transparent;
    & > .component-content {
      background-color: $dovatoColor01;
    }
  }
  .bg-color-2.bg-content {
    background-color: transparent;
    & > .component-content {
      background-color: $dovatoColor02;
    }
  }
  .bg-color-3.bg-content {
    background-color: transparent;
    & > .component-content {
      background-color: $dovatoColor03;
    }
  }
  .bg-color-4.bg-content {
    background-color: transparent;
    & > .component-content {
      background-color: $dovatoColor04;
    }
  }


  h1,h2,h3{
    color: $dovatoColor03;
    font-family: "FalenaBold", sans-serif !important;
    font-weight: normal;
  }

  h3 {

  }

  .text-style-1 {
    p {
      font-size: 17px;
      color: $dovatoColor04;
      line-height: 1.4!important;
      padding: 0 15px;
    }
  }

  .box-flex {
    & > .component-content {
      & > .content {
        display: flex;
      }
    }
  }

  .reference-medicines-mainbanner-dovato {
    .section {

    }
    .mainbanner-content {
      width: 60%;
      padding: 20px;
      .text {
        display: inline-block;
        text-align: right;
        padding-right: 20px;
        border-right: 1px solid $dovatoColor04;
        h1 {
          margin: 0;
          font-size: 40px;
          line-height: 1;
        }
      }
      img {
        //float: right;
        padding-left: 10px;
        display: inline-block;
      }
      .subtitle {
        color: $dovatoColor04;
        font-size: 12px;
      }
    }
    .mainbanner-content-line {
      width: 60%;
      overflow: hidden;
      margin-bottom: 40px;
      padding-bottom: 20px;
      div {
        display: inline-block;
        vertical-align: top;
        background-color: $dovatoColor04;
        color: #fff;
        font-family: "392643_3_0", serif;
        font-size: 17px;
        padding: 13px 15px;
        transform: skewX( -25deg );
        span {
          transform: skewX( 25deg );
          display: block;
        }
        u {
          font-family: "392643_7_0", serif;
          color: $dovatoColor03;
          text-decoration: none;
          text-transform: none;
        }
        &.maintext {
          margin-left: -40px;
          width: calc(100% - 200px);
          padding: 8px 15px 8px 60px;
          margin-right: 10px;
          p {
            padding: 0;
            margin: 0;
          }
        }
        &.learnmore {
          background: $dovatoColor03;
          font-family: "392643_7_0", serif;
          font-size: 16px;
          box-shadow: 4px 4px 0px 0px rgba(142,28,88,1);
        }
      }
    }

    .disclaimer {
      width: 60%;
      padding: 15px;
    }

  }

  #content-scroll-box {
    //background: red;
    font-family: 'Open Sans', sans-serif;
    p {
      font-family: 'Open Sans', sans-serif;
      line-height: 1.3;
      padding: 0;
      margin: 10px 0 20px 0;
    }
    u {
      display: inline-block;
      padding: 5px;
      border: 1px solid #000;
      font-style: normal;
      text-decoration: none;
    }
  }




}
