

/*--------------------------------*/
/* AIDS-2018
----------------------------------*/
@import '../core/mixins';


.page-aids-2018 {



  /*----------------------------------------------------------------------------------------------------*/
  /* GENERAL */


  .richText {
    ul {
      li {
        &:before {
          width: 5px;
          height: 5px;
          background: $green;
          border-radius: 5px;
          content: '';
          top: 8px;
        }
      }
    }
  }
  /*----------------------------------------------------------------------------------------------------*/



  /*----------------------------------------------------------------------------------------------------*/

  /* CONTENT */


  .box.grey-light > .component-content{
    background: #e8e8e6;
  }

  #content {
    text-align: center;
    .layout-outer {
      max-width: 1200px;
      margin: 0 auto;
      text-align: left;
      .layout-inner {
        & > .col-md-12 {
          margin-left: 0;
          margin-right: 0;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    .reference-abstarct-component {
      //display: inline-block;
      //width: 48%;
      //vertical-align: top;
    }

    .videos-container {
      padding-bottom: 40px;
    }
    #videoName,
    .videosNav,
    #videoDescription {
      display: none;
    }

    .abstract {
      border: 1px solid #ddd;
      padding: 10px;
      &:hover {
        border: 1px solid #cccccc;
      }
      .abstract_header {
        cursor: pointer;
        text-align: center;
        //border: 1px solid #ddd;
        //padding: 10px;

        .abstract_header-logo,
        .abstract_header-subtitle,
        .abstract_header-quotation {
          display: inline-block;
          width: 31%;
          vertical-align: middle;
        }
        h2 {
          font-size: 25px;
          line-height: 1.1;
          font-weight: 600;
          //color: #1b8fbf;
          text-align: left;
          min-height: 110px;
          &:before {
            content: '';
            float: left;
            width: 200px;
            height: 100px;
            background: url("../../img/Skyline.png") no-repeat;
            background-size: 150px;
          }
        }
        .abstract_header-subtitle {
          padding: 10px 10px 0 0;
          p {
            margin: 0;
            padding: 0 0 10px 0;
            font-size: 13px;
          }
        }
        .abstract_header-logo {
          border-left: 1px solid #ddd;
          border-right: 1px solid #ddd;

          img {
            max-height: 120px;
            max-width: 200px;
          }
        }
        .abstract_header-quotation {
          color: #9b9b9b;
          padding: 10px;
          font-style: italic;
          font-size: 17px;
          p {
            font-size: 15px;
          }
        }



      }

    .abstract_content {
      display: none;
      font-size: 15px;
      border-top: 1px solid #ddd;
      padding-top: 20px;
      margin-top: 20px;
      p {

      }
    }


    }

    .content-header {
      background-image: url(../../assets/img/webinar-juluca-bg_header.jpg);
      background-position: top left;
      background-repeat: no-repeat;
      background-size: 100%;
      min-height: 200px;
    }

    .parametrizedhtml {
      clear: both;
      float: none;
    }
    
    
    .reference-acm-movies-slider {
      .videos-container {
        //width: 100%;
        //float: none;
        //clear: both;
      }
      .videos-aside {
        //width: 100%;
        //float: none;
        //clear: both;
        text-align: center;
        .box-intro {
          text-align: left;
          width: 100%;
          padding: 0 0 10px 0;
          //float: left;
          .videoDescription {
            display: none;
          }
        }
      }

    }
    
    .green-title {
      padding: 80px 10% 40px 10%;
      text-align: center;
      clear: both;
      float: none;
      display: block;
      .component-content {
        background: $green;
        border-radius: 20px;
        padding: 20px;
        width: 100%;
      }
      * {
        clear: both;
        float: none;
        display: block;
      }
      h2 {
        color: $white;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
      }
    }

    h2 {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 40px;
      font-weight: 400;
      margin: 0;
      padding: 10px 0 10px 0;
    }

    h3 {
      margin: 0;
      padding: 10px 0 10px 0;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 35px;
      //color: $green-dark;
      text-transform: uppercase;
      text-align: center;
      font-weight: 400;
      display: block;
      .underline {
       border-bottom: 1px solid $gray-dark;
        display: block;
      }
    }

    h4 {
      font-size: 21px;
      color: #1b8fbf;
    }

    .richText {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 18px;
      ol, ul, li {
        font-size: 18px;
      }
    }

    .small-text {
      &.richText {
        font-size: 14px;
        color: #323131!important;
      }
    }

    .references, .footnote {
      padding-top: 30px;
      p, ul, ol, li {
        font-size: 15px;
      }
      h4 {
        color: $blue;
        font-weight: 600;
        cursor: pointer;
        &:before {
          @include font-awesome("\f055");
          width: 30px;
          //height: 30px;

        }
      }
      ol, ul, p {
        display: none;
        margin-top: 0;
        padding-top: 0;
        margin-left: 30px;
      }
      &.is-active {
        h4 {
          &:before {
            @include font-awesome("\f056");
          }
        }
      }
    }

    .richText{
      &.grey {
        background: #e8e8e6;
      }
    }




  }


  @media only screen and (min-width: 991px) {

  }
  @media only screen and (min-width: 768px) and (max-width: 990px) {

  }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    #content {
      h1,h2,h3,h4 {
        line-height: 1.1;
      }
      .content-header {
        background-image: url(../../assets/img/webinar-juluca-bg_header.jpg);
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: 200%;
        min-height: 200px;
      }




    }
  }
  @media only screen and (max-width: 480px) {
    #content {
      h1,h2,h3,h4 {
        line-height: 1.1;
      }
      .content-header {
        background-image: url(../../assets/img/webinar-juluca-bg_header.jpg);
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: 300%;
        min-height: 200px;
      }


      .reference-acm-movies-slider {
        .videos-container {
          width: 100%;
          float: none;
          clear: both;
        }
        .videos-aside {
          width: 100%;
          float: none;
          clear: both;
          text-align: center;
          .box-intro {
            text-align: left;
            width: 100%;
            padding: 0;
            float: none;
            display: block;
            min-height: initial;
            .videoDescription {
              display: none;
            }
          }
        }

      }

    }

  }





} //end JULUCA page-studies-juluca