
$pathMaster: '../../../../viiv-exchange/desktop/';
@import '../core/mixins';
@import '../core/fonts';
// This fixes author device emulator background overwrite problem.
#cq-emulator-content.firefox {
  background-color: #FFF !important;
}




  html, body {
    width: 100%;
    font-size: 18px;
    box-sizing: border-box;
  }

  html, body * {
    box-sizing: border-box;
  }

  body {
    line-height: 1.5;
    color: $defaultTextColor;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    overflow: auto;
    & > .container {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
      > .row {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }


img {
  //height: auto;
  //width: auto;
  max-width: 100%;
  //width: 100%;
}
.paragraphSystem, .row {
  margin-left: 0;
  margin-right: 0;
}

#wrapper,
.container {
  color: $textColor;
  background-color: #fff;
}

#header {
  padding-top: 15px;
  padding-bottom: 15px;
}

#footer {
  padding-bottom: 15px;
  padding-top: 15px;
  background: #f2f2f2;
}

.paragraphSystem {
  margin-left: 0;
  margin-right: 0;
}
.container {
  max-width: 100%;
  width: 100%;
}

/* BASE STYLES
----------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $textColor;
  margin: 10px 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

a {
  color: $textColor;
  text-decoration: none;
}

a:hover {
  color: $linkTextColor;
}

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

button,
input {
  *overflow: visible;
  line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}


/* LAYOUT STYLES
----------------------------------------- */

.component {
  //clear: left;
  margin-bottom: 10px;

}

.component[class*="grid"] {
  clear: none;
}

.component[class*="grid"].alpha {
  clear: left;
}

.component-content {
  // overflow: hidden;
  margin-bottom: 14px;
}

.component > .component-content {
  margin-bottom: 0;
}

/* ALERTS
-------------------------------------*/

.alert-list {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  list-style-type: disc;
}
.alert-list li {
  padding-left: 4px;
}
.alert {
  margin-bottom: 20px;
}
.alert-error {
  color: $alertTextColor;
}

/* UTILITIES
----------------------------------- */

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.is-hidden {
  display: none !important;
  visibility: hidden !important;
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
  zoom: 1;
}

.padding-top-15 {  padding-top: 15px;}
.padding-bottom-15 {  padding-bottom: 15px;}
.margin-top-15 {  margin-top: 15px;}
.margin-bottom-15 {  margin-bottom: 15px;}

.no-margin-right {

}

p {
  line-height: 1.4;
  clear: both;
}

a {
  &.link {
    &:before {
      content: "";
      display: inline-block;
      vertical-align: top;
      margin-right: 7px;
      background-image: url(../../assets/img/vx-spritesheet.png);
      width: 18px;
      height: 18px;
    }
    &.warning {
      &:before {
        background-position: -408px -885px;
      }
    }
    &.pill {
      &:before {
        background-position: -443px -885px;
      }
    }
  }
  &.button {
    border: 2px solid $red;
    border-radius: 0;
    background: $white;
    color: $red;
    min-width: 100px;
    font-size: 14px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none!important;
    &:hover {
      background: $red;
      color: $white;
    }
    &.fill {
      background: $red;
      color: #fff;
      &:hover {
        background: $white;
        color: $red;
      }
    }
  }
}

.col-md-12 {
  clear: both;
  float: none;
}

#header,
#footer,
#content {
  padding: 0;
  margin: 0;
}

.home-only {
  display: none;
}
.page-home {
  .home-only {
    display: block;
  }
}

.superscript {
  font-size: 65%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

.richText {
  &.bg-color-1 {
    background: red;
  }
  ul {
    li {
      &:before {
        width: 5px;
        height: 5px;
        background: $gray;
        border-radius: 5px;
        content: '';
        top: 8px;
      }
    }
  }
}


.image {
  a {
    display: block;
  }
  &.image-full-width {
    img {
      width: 100%;
      max-width: 100%;
    }
  }
}

.youtube-video iframe {
  width: 100%;
  height: 300px;
}
.youtube-video-basic {
  iframe{
    max-width: 100%;
  }
}
.divider.transparent {
  visibility: hidden;
}

.page-croi-medical #content .layout-outer {
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}





/*----------------------------------------------------------------------------------------------------*/


/* FOOTER */

#footer {


  padding-bottom: 15px;
  padding-top: 15px;
  background: #f2f2f2;

  .richText {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: $gray;
    p {
      color: $gray;
      font-size: 14px;
    }
    a {
      font-weight: 400;
      display: inline-block;
      padding-bottom: 10px;
      color: $red;
      text-decoration: underline;
      strong {
        font-weight: 600;
      }
    }
  }
  .layout-outer {
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
    .layout-inner {
      & > .col-md-12 {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

}

#header {
    .image {
      img {
        max-width: 80px !important;
        width: 100%;
        height: auto;
      }
      &.dovato-logo {
        img {
          max-width: 220px !important;
          padding-top: 10px;
        }
      }
    }
    .disclaimer {
      font-size: 12px !important;
      p, a {
        font-size: 12px !important;
      }
      a {
        text-decoration: underline !important;
      }
    }
  }

.content-container {
    .component-content {
      width: 1200px;
      max-width: 100%;
      margin: 0 auto;
      .image {
        padding: 0;
        .component-content {
          width: 100%;
        }
      }
      .richText {
        .component-content {
          width: 100%;
        }
      }
      .content-centered {
        .component-content {
          .content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: stretch;
          }
        }
      }
      p {
        margin: 10px 0;
        line-height: 1em;
      }
      #content-scroll-box {
        padding: 10px;
      }

      .disclaimer {
        font-weight: bold;
        font-size: 12px;
      }
    }

  }






