@import '../core/mixins';
$dovatoMainColor: #EA1B75;
$dovatoSecondaryColor: #891454;

.page-dovato {
  #header {
    .image {
      img {
        max-width: 80px !important;
        width: 100%;
        height: auto;
      }
      &.dovato-logo {
        img {
          max-width: 220px !important;
          padding-top: 10px;
        }
      }
    }
    .disclaimer {
      font-size: 12px !important;
      p, a {
        font-size: 12px !important;
      }
      a {
        text-decoration: underline !important;
      }
    }
  }
  .content-container {
    .component-content {
      width: 1200px;
      margin: 0 auto;
      .image {
        padding: 0;
        .component-content {
          width: 100%;
        }
      }
      .richText {
        .component-content {
          width: 100%;
        }
      }
      .content-centered {
        .component-content {
          .content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: stretch;
          }
        }
      }
      p {
        margin: 10px 0;
        line-height: 1em;
      }
      #content-scroll-box {
        padding: 10px;
      }
      .dovato-color {
        color: $dovatoMainColor;
        font-weight: bold;
      }
      .disclaimer {
        font-weight: bold;
        font-size: 12px;
      }
      .reference {
        &-trustrack {
          .component-content {
            border: 4px solid $dovatoSecondaryColor;
            border-radius: 4px;
            max-width: 500px;
            display: block;
            margin: 20px auto;
            padding-bottom: 20px;
            .vx-content-subheading {
              text-align: center;
              padding-top: 15px;
              padding-bottom: 20px;
              line-height: 1em;
            }
            .vx-visuallyhidden {
              display: none !important;
            }
            h2 {
              color: #fff;
              background: $dovatoSecondaryColor;
              margin:0;
            }
            .tr-text {
              padding: 20px;
            }
            #vx-formbtn-primary {
              text-align: center;
              background: $dovatoSecondaryColor;
              color: #fff;
              padding: 15px;
              margin: 20px auto;
              border-radius: 4px;
              display: block;
              max-width: 150px;
              font-size: 14px;
              opacity: 1;
              &:hover {
                opacity: .7;
                cursor: pointer;
              }
            }
            input {
              padding: 15px;
              max-width: 300px;
              display: block;
              margin: 10px auto;
              width: 100%;
              &::placeholder {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    .col-md-6{
      &.col-md-offset-3 {
        .component-content {
          max-width: 100%;
        }
      }
    }
  }
}



