@import '../core/mixins';

$dovatoMainColor: #EA1B75;
$dovatoSecondaryColor: #891454;
html, body.page-dovato-pm {
  font-size: 14px;
  //overflow: hidden;
  @media screen and (max-width: 1440px) {
    font-size: 12px;
  }
  @media screen and (max-width: 768px) {
    font-size: 10px;
    min-height: 600px;
  }
}

.page-dovato-pm {
  position: relative;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  font-size: 16px;

  &:after {
    position: absolute;
    content: '';
    top: 45%;
    transform: translateY(-55%);
    width: 30vw;
    max-width: 350px;
    height: 100%;
    max-height: 600px;
    background: url('../../img/dovato_pm_background.png') no-repeat;
    background-size: contain;
    pointer-events: none;

    @media screen and (max-width: 500px) {
      top: 150px;
      max-width: 80vw !important;
      width: 100%;
      transform: none;
    }
    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
      max-width: 399px !important;

      width: 100%;
    }
    @media all and (device-width: 1024px) and (device-height: 768px) and (orientation: landscape) {
      top: 51%;
      width: 100%;
      max-width: 400px;
    }
    @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
      width: 100%;
      max-width: 500px;
      background-size: cover;
    }
  }

  .container {
    color: #4d4d4d;

    #content {
      padding: 0 60px;
      min-height: 100vh;
      height: auto;

      .dovato-logo {
        .component-content {
          padding-top: 5vh;
          width: 920px;
          max-width: 100%;
          //width: 100%;
          margin: 0 auto;
          display: block;
        }
      }


      .product-monograph {
        padding-bottom: 5vh;

        p, a {
          font-size: 2.5rem;
          color: #414042;
          line-height: 60px;
          margin-bottom: 20px;
          margin-top: 0;
        }
      }

    }

    #footer {
      overflow: hidden;
      position: absolute;
      bottom: 0;
      padding: 0;
      background: white !important;

      .layout-outer {
        max-width: 100%;
        .richText {
          p{
            font-size: 12px;
          }
        }
        .box {
          &:first-of-type {
            & > .component-content {
              padding: 0 60px;
            }
          }
        }

        .viiv-logo {
          .component-content {
            max-width: 130px;
            width: 100%;
            display: block;
            text-align: center;
          }
        }

        .footer-links {
          background: $dovatoMainColor !important;
          height: 70px;
          padding: 15px 0;
          margin: 0;


          .component-content {
            padding: 0 30px;
            a {
              font-size: 12px;
            }

          }
        }

        .richText {
          margin: 0;

          ul {
            margin: 0;

            li {
              color: white;
              display: inline-block;
              margin: 0;
              border-left: 1px solid white;
              padding: 0 7px;
              line-height: 15px;

              &:before {
                display: none;
              }

              &:last-of-type {
                border-right: 1px solid white;
              }

              a, p {
                color: white;
                text-decoration: none;
                transition: ease-out .3s;
                padding: 0;
                font-size: 1rem;

                &:hover {
                  opacity: .7;
                }
              }
            }
          }
        }
        .footer-links {
          .richText {
            &:nth-of-type(2) {
              text-align: right;
            }
          }
        }
      }

    }
  }

  @media screen and (max-width: 1540px) {
    .container {
      #content {
        .dovato-logo {
          .component-content {
            padding-top: 0vh;
          }
        }

        .product-monograph {
          padding-bottom: 0;
        }
      }
    }
  }
  @media screen and (max-width: 1360px) {
    .container {
      #content {
      }

      #footer {
        height: auto;
        position: absolute;

        .footer-links {
          height: auto !important;
        }
      }
    }
  }
  @media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .container {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;

      #content {
        height: 56vh !important;
        position: relative;

        .row {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          .image {
            &.dovato-logo {
              .component-content {
                max-width: 350px !important;
              }
            }
          }

          .richText {
            position: relative;
            top: 5vh;
            a {
              font-size: 24px;
              display: block;
              margin-bottom: 30px;
              line-height: 40px;
            }
          }
        }
      }

      #footer {
        position: absolute;

        .layout-outer {
          .box {
            &:first-of-type {
              & > .component-content {
                padding: 0 50px 0 10px;
              }
            }
          }
        }

        .image {
          &.viiv-logo {
            img {
              max-width: 80px;
            }
          }
        }

        .richText {
          p {
            font-size: 10px;
            color: #000;
          }
        }
      }
    }
  }
  /*ipad portrait and Landscape */
  @media all and (device-width: 1024px) and (device-height: 768px) and (orientation: landscape) {
    .container {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;

      #content {
        .image {
          .component-content {
            padding-top: 5vh;
          }
        }

        .richText {
          position: relative;
          top: 5vh;
          font-size: 20px;

          br {
            display: none;
          }

          a {
            font-size: 24px;
            display: block;
            margin-bottom: 30px !important;
            line-height: 40px;
          }
        }
      }

      #footer {
        position: absolute;

        .layout-outer {
          .richText {
            ul {
              text-align: center !important;
            }

            p {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 997px) {
    padding: 0;
    overflow-x: hidden;
    .col-xs-12 {
      padding: 0;
    }
    .container {
      font-size: 10px;

      #content {
        padding: 0 10px;
        height: auto;
        min-height: auto;

        .dovato-logo {
          .component-content {
            max-width: 250px
          }
        }

        .product-monograph {
          br {
            display: none;
          }

          a {
            font-size: 20px;
            line-height: 16px;
            display: block;
          }
        }

        .viiv-logo {
          .component-content {
            max-width: 100px;
          }
        }
      }

      #footer {
        height: auto;

        .layout-outer {
          .footer-links {
            height: auto;

            .component-content {

              padding: 0 10px;

              .richText {
                ul {
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                  justify-content: center;
                  align-items: center;
                  align-content: stretch;
                  padding: 0;

                  li {
                    font-size: 12px;
                    margin-bottom: 10px;
                  }
                }
              }
            }

          }

        }
      }
    }
    &:after {
      max-width: 250px;
    }
  }
  /*ipad pro portrait and Landscape */

  /* Portrait */
  @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    .container {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;

      #content {
        .image {
          .component-content {
            width: 100%;
            padding-top: 10vh;
          }
        }

        .richText {
          position: relative;
          top: 10vh;

          a {

            font-size: 35px !important;
          }

          br {
            display: none;
          }

          a {
            font-size: 24px;
            display: block;
            margin-bottom: 10px;
            line-height: 40px;
          }
        }
      }

      #footer {
        .layout-outer {
          .footer-links {
            text-align: center !important;
          }
        }
      }
    }
  }

  /* Landscape */
  @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
    .container {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;

      #content {
        .image {
          .component-content {
            padding-top: 2vh;
            width: 60vw;
          }
        }

        .richText {
          position: relative;
          top: 2vh;

          br {
            display: none;
          }

          a {
            font-size: 24px;
            display: block;
            margin-bottom: 10px;
            line-height: 40px;
          }
        }
      }

      #footer {
        .layout-outer {
          .footer-links {
            .component-content {
              padding: 0 20px;
              text-align: center !important;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 500px) {
    height: 100vh;
    overflow: hidden;
    .container {
      #content {
        .image {
          .component-content {
            padding-top: 5vh;
          }

          &.dovato-logo {
            .component-content {
              max-width: 400px;
              width: 100%;
            }
          }
        }

        .richText {
          position: relative;
          top: 5vh;
          font-size: 20px;

          br {
            display: none;
          }

          a {
            font-size: 24px;
            display: block;
            margin-bottom: 10px;
            line-height: 40px;
          }
        }

        .product-monograph {
          a {
            line-height: 25px;
            margin-bottom: 20px;
          }
        }
      }

      #footer {
        .layout-outer {
          .box {
            &:first-of-type {
              & > .component-content {
                padding: 0 10px;
              }
            }
          }
        }
      }
    }
    .footer-links {
      z-index: 999;

      .component-content {
        .richText {
          ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: stretch;

            li {
            }
          }
        }
      }
    }
  }
  @media only screen and (min-device-width: 480px) and (max-device-width: 767px) and (orientation: landscape) {
    overflow: auto !important;
    //enter code here
    #footer {
      position: static !important;
    }
  }
  @media screen and (max-width: 420px) {
    padding: 0;
    overflow-x: hidden;
    .col-xs-12 {
      padding: 0 !important;
    }
    .container {
      font-size: 10px;

      #content {
        padding: 0 10px;
        height: auto;

        .dovato-logo {
          .component-content {
            max-width: 250px
          }
        }

        .product-monograph {
          br {
            display: none;
          }

          a {
            font-size: 18px;
            line-height: 16px;
            display: block;
          }
        }

        .viiv-logo {
          .component-content {
            max-width: 100px;
          }
        }
      }

      #footer {
        position: absolute;

        .layout-outer {
          padding: 0;

          .box {
            padding: 0 30px !important;

          }

          .richText {
            p {
              font-size: 8px;
              margin: 0;
            }
          }

          .footer-links {
            padding: 10px 0 !important;

            .component-content {
              padding: 0;

              .richText {
                padding: 0;

                ul {
                  padding: 5px 0;

                  li {
                    margin-bottom: 5px !important;
                    padding: 0 5px;
                    line-height: 10px;

                    a {
                      font-size: 8px;
                    }
                  }
                }

                p {
                  font-size: 10px;
                }
              }
            }
          }


        }
      }
    }
  }
  //@media screen and (min-width: 899px) and (max-height:800px) {
  @media screen and (max-height:800px) {
    overflow: scroll;
    .container #footer .layout-outer .richText p {
      font-size: 10px;
    }
    .container #content .image .component-content {
      //padding-top: 15vh;
      width: 55vw;
      margin-top: -50px;
    }
    .container #content .richText {
      position: relative;
      top: -2vh;
      padding-bottom: 2vh;
    }
    #content {
      min-height: auto !important;
    }
    .container {
      #footer {
        //position: static;
      }
    }
  }
  @media screen and (max-height: 568px) and (max-width: 768px) {
    overflow: scroll;
  }
  @media screen and (min-height: 568px) and (max-width: 768px) {
    overflow: hidden;
    #footer {
      position: absolute;
    }
  }
  @media screen and (min-width: 1300px) and (max-height: 800px) {
    overflow: hidden;
  }
}



