@import '../core/mixins';




.page-studies-sword {


  /*----------------------------------------------------------------------------------------------------*/
  /* GENERAL */



  .richText {
    ul {
      li {
        &:before {
          width: 5px;
          height: 5px;
          background: $green;
          border-radius: 5px;
          content: '';
          top: 8px;
        }
      }
    }
  }



  /*----------------------------------------------------------------------------------------------------*/

  /* CONTENT */

  #content {
    text-align: center;
    .layout-outer {
      max-width: 1200px;
      margin: 0 auto;
      text-align: left;
      .layout-inner {
        & > .col-md-12 {
          margin-left: 0;
          margin-right: 0;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    .content-header {
      border-bottom: 1px solid $gray2;
    }

    .content-popup {
      * {
        margin: 0;
        padding: 0;
      }
      display: none;
      position: fixed;
      background: rgba(0,0,0,0.6);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 99;
      margin: 0;
      padding: 0;
      text-align: center;
      & > .component-content  {

        padding: 50px 0 0 0 ;
        width: 650px;
        max-width: 100%;
        margin: 0 auto;
        text-align: center;

        .reference-iframe--download- {

          position: relative;
          &:after {
            content: '';
            cursor: pointer;
            width: 40px;
            height: 40px;
            background: #fff;
            border-radius: 50%;
            display: inline-block;
            background-image: url(../../assets/img/vx-spritesheet.png);
            background-position: -813px -687px;
            position: absolute;
            z-index: 109;
            top: -20px;
            right: -20px;
          }
        }

      }
    }

    .logo {
      margin: 10px 0 30px 0;
    }

    h1 {
      font-weight: 400;
      line-height: 1.2em;
    }

    h2 {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 40px;
      font-weight: 400;
      margin: 0;
      padding: 10px 0 10px 0;
    }

    h3 {
      margin: 0;
      padding: 0;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 28px;
      text-transform: uppercase;
      font-weight: 500;
    }

    .richText {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 18px;
      ol, ul, li {
        font-size: 18px;
      }
    }

    .open-popup {
      border: 0;
      background: #0F808F;
      display: block;
      padding: 30px 10px;
      color: #fff;
      text-decoration: none;
      font-size: 20px;
      text-align: left;
      &:before {
        content: '';
        width: 85px;
        height: 85px;
        background: #fff;
        border-radius: 50%;
        display: inline-block;
        background-image: url(../../assets/img/vx-spritesheet.png);
        background-position: -470px -105px;
        vertical-align: middle;
        float: left;
        position: relative;
        margin: -10px 10px 0 0;
      }
    }



    .small-text {
      &.richText {
        font-size: 14px;
        color: #323131 !important;
      }
    }

    .references, .footnote {
      padding-top: 30px;
      p, ul, ol, li {
        font-size: 15px;
      }
      h4 {
        color: $blue;
        font-weight: 600;
        cursor: pointer;
        &:before {
          @include font-awesome("\f055");
          width: 30px;
          //height: 30px;

        }
      }
      ol, ul, p {
        display: none;
        margin-top: 0;
        padding-top: 0;
        margin-left: 30px;
      }
      &.is-active {
        h4 {
          &:before {
            @include font-awesome("\f056");
          }
        }
      }
    }

    .richText {
      &.grey {
        background: $gray-light;
      }
    }

  }

} //end JULUCA page-studies-sword