@import '../core/mixins';


.page-studies-juluca {


  /*----------------------------------------------------------------------------------------------------*/
  /* GENERAL */


  .richText {
    ul {
      li {
        &:before {
          width: 5px;
          height: 5px;
          background: $green;
          border-radius: 5px;
          content: '';
          top: 8px;
        }
      }
    }
  }
  /*----------------------------------------------------------------------------------------------------*/
  /* HEADER


      font-family: 'Open Sans', sans-serif;

      font-family: 'Source Sans Pro', sans-serif;



  */

  #header {
    padding: 0;
    text-align: right;
    margin: 0 0 20px 0;
    font-size: 14px;
    * {
      margin-bottom: 0;
    }
    .col-md-12 {
      clear: both;
      float: none;
    }
    .layout-outer {
      max-width: 1200px;
      padding: 10px 0;
      margin: 0 auto;
      text-align: center;
      clear: both;
      border-bottom: 3px solid $gray-dark;
      .layout-inner {
        & > .col-md-12 {
          margin-left: 0;
          margin-right: 0;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    p {
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      margin: 0 auto;
      padding: 0;
    }

  }

  @media only screen and (max-width: 767px) {
    #header {

    }
  }


  /*----------------------------------------------------------------------------------------------------*/

  /* CONTENT */

  #content {
    text-align: center;
    .layout-outer {
      max-width: 1200px;
      margin: 0 auto;
      text-align: left;
      .layout-inner {
        & > .col-md-12 {
          margin-left: 0;
          margin-right: 0;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    .green-title {
      padding: 80px 10% 40px 10%;
      text-align: center;
      clear: both;
      float: none;
      display: block;
      .component-content {
        background: $green;
        border-radius: 20px;
        padding: 20px;
        width: 100%;
      }
      * {
        clear: both;
        float: none;
        display: block;
      }
      h2 {
        color: $white;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
      }
    }

    h2 {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 40px;
      font-weight: 400;
      margin: 0;
      padding: 10px 0 10px 0;
    }

    h3 {
      width: 90%;
      margin: 0;
      padding: 0 5% 30px 5%;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 35px;
      color: $green-dark;
      text-transform: uppercase;
      text-align: center;
      font-weight: 400;
    }

    .richText {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 18px;
      ol, ul, li {
        font-size: 18px;
      }
    }

    .small-text {
      &.richText {
        font-size: 14px;
        color: #323131!important;
      }
    }

    .references, .footnote {
      padding-top: 30px;
      p, ul, ol, li {
        font-size: 15px;
      }
      h4 {
        color: $blue;
        font-weight: 600;
        cursor: pointer;
        &:before {
          @include font-awesome("\f055");
          width: 30px;
          //height: 30px;

        }
      }
      ol, ul, p {
        display: none;
        margin-top: 0;
        padding-top: 0;
        margin-left: 30px;
      }
      &.is-active {
        //ol {
        //  display: block;
        //}
        h4 {
          &:before {
            @include font-awesome("\f056");
          }
        }
      }

    }

    .richText{
      &.grey {
        background: $gray-light;
      }
    }



    .reference-section-1, .reference-section-2, .reference-section-3, .reference-section-4,  .reference-section-5,
    .reference-section-6, .reference-section-7, .reference-section-8, .reference-section-9,  .reference-section-10,
    .reference-section-11, .reference-section-12, .reference-section-13, .reference-section-14{
      clear: both;
      float: none;
      display: block;

    }

    .reference-section-1 {

      .first {
        img {
          padding-right: 30px;
          max-height: 140px;
        }
      }
      .even {
        .component-content {
          display: table;
          .richText-content {
            display: table-cell;
            height: 150px;
            vertical-align: middle;
          }
        }


      }
      .reference-video-player {
        img {
          cursor: pointer;
        }
        video {
          display: none;
        }
      }

    }

    .reference-section-3 {
      .box {
        &.grey {
          background: $gray-light;
          text-align: center;
          padding-left: 0;
          padding-right: 0;
          img {
            padding-top: 30px;
          }
          .richText {
            color: $green-dark;
            font-weight: 600;
            p, h2, h3, h4, h5 {
              color: $green-dark;
              font-weight: 600;
            }

            h5 {
              font-size: 16px;
              display: inline-block;
              padding-top: 30px;
              border-bottom: 3px solid $gray-dark
            }
          }
          .richText {
            &.grey-dark {
              background: $gray-dark;
              p {
                color: $black;
              }
            }
          }
        }
      }
    }

    .reference-section-5 {
      .richText {
        &.border {
          border-right: 2px solid $green;
        }
      }
      .table-style-1 {
        table {
          border-top: 2px solid  $gray-light;
          th, td {
            padding: 10px;
          }
        }

        th {
          background: $white;
          border-color: $white;
          border-bottom: 2px solid  $gray-light;
        }
        td {
          background: $gray-light;
          border-color: $white
        }
      }
    }

    .reference-section-6 {
      ul {
        li {
          &:nth-child(2) {
            padding-left: 40px;
           &:before {
              width: 30px;
              height: 3px;
            }
          }
        }
      }
    }

    .reference-section-10 {
      .table-style-2 {
        table {
          border-top: 2px solid  $gray-light;
          th, td {
            padding: 10px;
            text-align: center;
          }
        }
        table {
          tr:nth-child(1){
            th {
              text-align: center;
            }
            th:nth-child(2){
              color: $green-dark;
            }
          }
          th {
            background: $white;
            border-color: $white;
            border-bottom: 2px solid  $gray-light;
            text-align: left;
          }
          td {
            background: $gray-light;
            border-color: $white

          }
          td:nth-child(2) {
            background: $green-light;
          }
        }

      }


    }

    .reference-section-12 {
      .richText {
        ul {
          li {
            &:before {
              width: 5px;
              height: 5px;
              background: $green;
              border-radius: 5px;
              content: '';
              top: 8px;
            }
          }
        }
      }
    }
    .reference-section-13 {
      .big-letter {
        display: inline-block;
        font-size: 70px;
        font-weight: 600;
        color: $green;
        vertical-align: middle;
        border-right: 1px solid $gray-dark;
        float: left;
        padding: 0 10px 10px 0;
        width: 50px;
        min-height: 40px;
        margin-right: 10px;
      }
    }
    .reference-section-14 {
      .reference-iframe--download- {
        text-align: center;

        iframe {
          border: 1px solid $gray-light;
          width: 650px;
          max-width: 100%;
          height: 450px;
          overflow: hidden;
        }
      }

    }
  }







  /*----------------------------------------------------------------------------------------------------*/

  /* FOOTER */

  #footer {
    padding-top: 10px;
    .richText {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: $gray;
      p {
        color: $gray;
        font-size: 14px;
      }
      a {
        font-weight: 400;
        display: inline-block;
        padding-bottom: 10px;
        color: $red;
        text-decoration: underline;
        strong {
          font-weight: 600;
        }
      }
    }

  }

  #footer {
    text-align: center;
    .layout-outer {
      max-width: 1200px;
      margin: 0 auto;
      text-align: left;
      .layout-inner {
        & > .col-md-12 {
          margin-left: 0;
          margin-right: 0;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }

} //end JULUCA page-studies-juluca