@import '../core/mixins';


body.template-pages-template-master,
body.template-pages-template-expert {

  #header {
    padding-top: 0px;
    padding-bottom: 0px;
    background: #f2f2f2;
    text-align: right;
    margin: 0 0 20px 0;
    font-size: 14px;
    * {
      margin-bottom: 0;
    }

    .image {
      display: inline-block;
      vertical-align: middle;
      text-align: right;
      img {
        max-width: 50px;
      }
    }
    .richText {
      display: inline-block;
      vertical-align: middle;
      text-align: left;
    }
    .col-md-12 {
      clear: both;
      float: none;
    }
    .layout-outer {
      max-width: 1200px;
      padding: 10px 0;
      margin: 0 auto;
      text-align: center;
      clear: both;
      .layout-inner {
        & > .col-md-12 {
          margin-left: 0;
          margin-right: 0;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    p {
      font-size: 13px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      margin: 0 auto;
      padding: 15px 0 0 0;
    }
    a {
      font-size: 13px;
      color: $gray3;
      text-decoration: none;
    }

  }

}



