@import '../core/mixins';


body.template-pages-template-vx {

  /*----------------------------------------------------------------------------------------------------*/
  /* HEADER


      font-family: 'Open Sans', sans-serif;

      font-family: 'Source Sans Pro', sans-serif;



  */

  #header {
    padding: 0;
    text-align: right;
    margin: 0 0 20px 0;
    font-size: 14px;
    * {
      margin-bottom: 0;
    }
    .col-md-12 {
      clear: both;
      float: none;
    }
    .layout-outer {
      max-width: 1200px;
      padding: 10px 0;
      margin: 0 auto;
      text-align: center;
      clear: both;
      border-bottom: 3px solid $gray-dark;
      .layout-inner {
        & > .col-md-12 {
          margin-left: 0;
          margin-right: 0;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    p {
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      margin: 0 auto;
      padding: 0;
    }

  }

  @media only screen and (min-width: 991px) {

  }
  @media only screen and (min-width: 768px) and (max-width: 990px) {

  }
  @media only screen and (min-width: 481px) and (max-width: 767px) {

  }
  @media only screen and (max-width: 480px) {

  }

}



@media only screen and (min-width: 991px) {

}
@media only screen and (min-width: 768px) and (max-width: 990px) {

}
@media only screen and (min-width: 481px) and (max-width: 767px) {

}
@media only screen and (max-width: 480px) {

}