@import '../core/mixins';

.videos-container {

  .videosNav {
    padding: 30px 0;
    text-align: center;
    .button {
      margin: 0 10px;
    }
  }
}

.box-intro {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  min-height: 250px;
  padding-bottom: 0;

  .videoInfo {
    width: 100%;
    color: #fff;
    font-size: 16px;
    position: relative;
    top: -10px;
    span {
      position: absolute;
      z-index: 10;
      color: #000;
      width: auto;
      padding: 0;
      font-size: 12px;
      font-weight: bold;
      background: #F2F2F2;
      margin: 0;
      float: right;
      top: 13px;
      right: 9px;
    }
    p {
      position: relative;
      z-index:10;
      color: #000;
      width: 100%;
      padding:0;
      font-size: 12px;
      font-weight: bold;
      background: #F2F2F2;
      margin: 0;
      &:before {
        @include font-awesome("\f04b");
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        color: #fff;
        background: $blue2;
        margin-right: 10px;
      }
    }
  }




  .videoDescription {
    h1, h2, h3, h4, h5, p {
      font-size: 12px;
      padding: 0 0 5px 0;
      margin: 0;
    }
    ul, li {
      font-size: 12px;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
  }


  &:hover {
    cursor: pointer;
    h3 {
      bottom: 0;
      -webkit-transition:  0.5s;
      -moz-transition:  0.5s;
      -ms-transition:  0.5s;
      -o-transition:  0.5s;
      transition:  0.5s;
    }
  }
}