//$pathMaster: '../../../../viiv-exchange/desktop/';
$pathMaster: '../../';

@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i&subset=latin-ext');

//@import url("//hello.myfonts.net/count/392643");
//@font-face {font-family: 'AvantGardeGothicITCW01D 731075';src: url($pathMaster + 'assets/fonts/392643_13_0.eot');src: url($pathMaster + 'assets/fonts/392643_13_0.eot?#iefix') format('embedded-opentype'),url($pathMaster + 'assets/fonts/392643_13_0.woff2') format('woff2'),url($pathMaster + 'assets/fonts/392643_13_0.woff') format('woff'),url($pathMaster + 'assets/fonts/392643_13_0.ttf') format('truetype');}
//@font-face {font-weight: 600; font-family: 'avantgarde';src: url($pathMaster + 'assets/fonts/ITCAvantGardeStd-Demi.eot');src: url($pathMaster + 'assets/fonts/ITCAvantGardeStd-Demi.eot?#iefix') format('embedded-opentype'),url($pathMaster + 'assets/fonts/ITCAvantGardeStd-Demi.woff2') format('woff2'),url($pathMaster + 'assets/fonts/ITCAvantGardeStd-Demi.woff') format('woff'),url($pathMaster + 'assets/fonts/ITCAvantGardeStd-Demi.ttf') format('truetype');}


@font-face {
  font-family: '392643_0_0';
  src: url($pathMaster + 'assets/fonts/392643_0_0.eot');
  src: url($pathMaster + 'assets/fonts/392643_0_0.eot?#iefix') format('embedded-opentype'), url($pathMaster + 'assets/fonts/392643_0_0.woff2') format('woff2'), url($pathMaster + 'assets/fonts/392643_0_0.woff') format('woff'), url($pathMaster + 'assets/fonts/392643_0_0.ttf') format('truetype');
  font-weight: normal !important;
}

@font-face {
  font-family: '392643_1_0';
  src: url($pathMaster + 'assets/fonts/392643_1_0.eot');
  src: url($pathMaster + 'assets/fonts/392643_1_0.eot?#iefix') format('embedded-opentype'), url($pathMaster + 'assets/fonts/392643_1_0.woff2') format('woff2'), url($pathMaster + 'assets/fonts/392643_1_0.woff') format('woff'), url($pathMaster + 'assets/fonts/392643_1_0.ttf') format('truetype');
  font-weight: normal !important;
}

@font-face {
  font-family: '392643_2_0';
  src: url($pathMaster + 'assets/fonts/392643_2_0.eot');
  src: url($pathMaster + 'assets/fonts/392643_2_0.eot?#iefix') format('embedded-opentype'), url($pathMaster + 'assets/fonts/392643_2_0.woff2') format('woff2'), url($pathMaster + 'assets/fonts/392643_2_0.woff') format('woff'), url($pathMaster + 'assets/fonts/392643_2_0.ttf') format('truetype');
  font-weight: normal !important;
}

@font-face {
  font-family: '392643_3_0';
  src: url($pathMaster + 'assets/fonts/392643_3_0.eot');
  src: url($pathMaster + 'assets/fonts/392643_3_0.eot?#iefix') format('embedded-opentype'), url($pathMaster + 'assets/fonts/392643_3_0.woff2') format('woff2'), url($pathMaster + 'assets/fonts/392643_3_0.woff') format('woff'), url($pathMaster + 'assets/fonts/392643_3_0.ttf') format('truetype');
  font-weight: normal !important;
}
/*condense
 */
@font-face {
  font-family: '392643_4_0';
  src: url($pathMaster + 'assets/fonts/392643_4_0.eot');
  src: url($pathMaster + 'assets/fonts/392643_4_0.eot?#iefix') format('embedded-opentype'), url($pathMaster + 'assets/fonts/392643_4_0.woff2') format('woff2'), url($pathMaster + 'assets/fonts/392643_4_0.woff') format('woff'), url($pathMaster + 'assets/fonts/392643_4_0.ttf') format('truetype');
  font-weight: normal !important;
}

@font-face {
  font-family: '392643_5_0';
  src: url($pathMaster + 'assets/fonts/392643_5_0.eot');
  src: url($pathMaster + 'assets/fonts/392643_5_0.eot?#iefix') format('embedded-opentype'), url($pathMaster + 'assets/fonts/392643_5_0.woff2') format('woff2'), url($pathMaster + 'assets/fonts/392643_5_0.woff') format('woff'), url($pathMaster + 'assets/fonts/392643_5_0.ttf') format('truetype');
  font-weight: normal !important;
}

@font-face {
  font-family: '392643_6_0';
  src: url($pathMaster + 'assets/fonts/392643_6_0.eot');
  src: url($pathMaster + 'assets/fonts/392643_6_0.eot?#iefix') format('embedded-opentype'), url($pathMaster + 'assets/fonts/392643_6_0.woff2') format('woff2'), url($pathMaster + 'assets/fonts/392643_6_0.woff') format('woff'), url($pathMaster + 'assets/fonts/392643_6_0.ttf') format('truetype');
  font-weight: normal !important;
}

@font-face {
  font-family: '392643_7_0';
  src: url($pathMaster + 'assets/fonts/392643_7_0.eot');
  src: url($pathMaster + 'assets/fonts/392643_7_0.eot?#iefix') format('embedded-opentype'), url($pathMaster + 'assets/fonts/392643_7_0.woff2') format('woff2'), url($pathMaster + 'assets/fonts/392643_7_0.woff') format('woff'), url($pathMaster + 'assets/fonts/392643_7_0.ttf') format('truetype');
  font-weight: normal !important;
}


@font-face {
  font-family: '392643_8_0';
  src: url($pathMaster + 'assets/fonts/392643_8_0.eot');
  src: url($pathMaster + 'assets/fonts/392643_8_0.eot?#iefix') format('embedded-opentype'), url($pathMaster + 'assets/fonts/392643_8_0.woff2') format('woff2'), url($pathMaster + 'assets/fonts/392643_8_0.woff') format('woff'), url($pathMaster + 'assets/fonts/392643_8_0.ttf') format('truetype');
  font-weight: normal !important;
}
/* Thin  */
@font-face {
  font-family: '392643_9_0';
  src: url($pathMaster + 'assets/fonts/392643_9_0.eot');
  src: url($pathMaster + 'assets/fonts/392643_9_0.eot?#iefix') format('embedded-opentype'), url($pathMaster + 'assets/fonts/392643_9_0.woff2') format('woff2'), url($pathMaster + 'assets/fonts/392643_9_0.woff') format('woff'), url($pathMaster + 'assets/fonts/392643_9_0.ttf') format('truetype');
  font-weight: normal !important;
}

/* Thin Italic */
@font-face {
  font-family: '392643_10_0';
  src: url($pathMaster + 'assets/fonts/392643_10_0.eot');
  src: url($pathMaster + 'assets/fonts/392643_10_0.eot?#iefix') format('embedded-opentype'), url($pathMaster + 'assets/fonts/392643_10_0.woff2') format('woff2'), url($pathMaster + 'assets/fonts/392643_10_0.woff') format('woff'), url($pathMaster + 'assets/fonts/392643_10_0.ttf') format('truetype');
  font-weight: normal !important;
}

/* Normal Italic */
@font-face {
  font-family: '392643_11_0';
  src: url($pathMaster + 'assets/fonts/392643_11_0.eot');
  src: url($pathMaster + 'assets/fonts/392643_11_0.eot?#iefix') format('embedded-opentype'), url($pathMaster + 'assets/fonts/392643_11_0.woff2') format('woff2'), url($pathMaster + 'assets/fonts/392643_11_0.woff') format('woff'), url($pathMaster + 'assets/fonts/392643_11_0.ttf') format('truetype');
  font-weight: normal !important;
}

/* Medium Italic */
@font-face {
  font-family: '392643_12_0';
  src: url($pathMaster + 'assets/fonts/392643_12_0.eot');
  src: url($pathMaster + 'assets/fonts/392643_12_0.eot?#iefix') format('embedded-opentype'), url($pathMaster + 'assets/fonts/392643_12_0.woff2') format('woff2'), url($pathMaster + 'assets/fonts/392643_12_0.woff') format('woff'), url($pathMaster + 'assets/fonts/392643_12_0.ttf') format('truetype');
  font-weight: normal !important;
}

/* Bold Italic */
@font-face {
  font-family: '392643_13_0';
  src: url($pathMaster + 'assets/fonts/392643_13_0.eot');
  src: url($pathMaster + 'assets/fonts/392643_13_0.eot?#iefix') format('embedded-opentype'), url($pathMaster + 'assets/fonts/392643_13_0.woff2') format('woff2'), url($pathMaster + 'assets/fonts/392643_13_0.woff') format('woff'), url($pathMaster + 'assets/fonts/392643_13_0.ttf') format('truetype');
  font-weight: normal !important;
}
















@font-face {
  font-family: 'ITCAvantGardeW01-CnDm';
  src: url($pathMaster + 'assets/fonts/392643_1_0.eot');
  src: url($pathMaster + 'assets/fonts/392643_1_0.eot?#iefix') format('embedded-opentype'), url($pathMaster + 'assets/fonts/392643_1_0.woff2') format('woff2'), url($pathMaster + 'assets/fonts/392643_1_0.woff') format('woff'), url($pathMaster + 'assets/fonts/392643_1_0.ttf') format('truetype');
  font-weight: normal !important;
}

/* Normal */
@font-face {
  font-family: 'AvantGardeGothicITCW01B 731069';
  src: url($pathMaster + 'assets/fonts/392643_3_0.eot');
  src: url($pathMaster + 'assets/fonts/392643_3_0.eot?#iefix') format('embedded-opentype'), url($pathMaster + 'assets/fonts/392643_3_0.woff2') format('woff2'), url($pathMaster + 'assets/fonts/392643_3_0.woff') format('woff'), url($pathMaster + 'assets/fonts/392643_3_0.ttf') format('truetype');
  font-weight: normal !important;
}

@font-face {
  font-family: 'ITCAvantGardeW01-CnBk';
  src: url($pathMaster + 'assets/fonts/392643_E_0.eot');
  src: url($pathMaster + 'assets/fonts/392643_E_0.eot?#iefix') format('embedded-opentype'), url($pathMaster + 'assets/fonts/392643_E_0.woff2') format('woff2'), url($pathMaster + 'assets/fonts/392643_E_0.woff') format('woff'), url($pathMaster + 'assets/fonts/392643_E_0.ttf') format('truetype');
  font-weight: normal !important;
}

/* Normal italic*/
@font-face {
  font-family: 'AvantGardeGothicITCW01B 731072';
  src: url($pathMaster + 'assets/fonts/392643_6_0.eot');
  src: url($pathMaster + 'assets/fonts/392643_6_0.eot?#iefix') format('embedded-opentype'), url($pathMaster + 'assets/fonts/392643_6_0.woff2') format('woff2'), url($pathMaster + 'assets/fonts/392643_6_0.woff') format('woff'), url($pathMaster + 'assets/fonts/392643_6_0.ttf') format('truetype');
  font-weight: normal !important;
}

/*Bold*/
@font-face {
  font-family: 'AvantGardeGothicITCW01D 731075';
  src: url($pathMaster + 'assets/fonts/392643_7_0.eot');
  src: url($pathMaster + 'assets/fonts/392643_7_0.eot?#iefix') format('embedded-opentype'), url($pathMaster + 'assets/fonts/392643_7_0.woff2') format('woff2'), url($pathMaster + 'assets/fonts/392643_7_0.woff') format('woff'), url($pathMaster + 'assets/fonts/392643_7_0.ttf') format('truetype');
  font-weight: normal !important;
}

/*Bold Italic*/
@font-face {
  font-family: 'AvantGardeGothicITCW01D 731078';
  src: url($pathMaster + 'assets/fonts/392643_8_0.eot');
  src: url($pathMaster + 'assets/fonts/392643_8_0.eot?#iefix') format('embedded-opentype'), url($pathMaster + 'assets/fonts/392643_8_0.woff2') format('woff2'), url($pathMaster + 'assets/fonts/392643_8_0.woff') format('woff'), url($pathMaster + 'assets/fonts/392643_8_0.ttf') format('truetype');
  font-weight: normal !important;
}

@font-face {
  font-family: 'Prozak light W00 Light';
  src: url($pathMaster + 'assets/fonts/Prozak-Light.eot');
  src: url($pathMaster + 'assets/fonts/Prozak-Light.eot?#iefix') format('embedded-opentype'), url($pathMaster + 'assets/fonts/Prozak-Light.woff') format('woff2'), url($pathMaster + 'assets/fonts/Prozak-Light.woff') format('woff'), url($pathMaster + 'assets/fonts/Prozak-Light.ttf') format('truetype');
}


@font-face {
  font-family: 'ITCAvantGardeStd-Demi';
  src: url($pathMaster + 'assets/fonts/ITCAvantGardeStd-Demi.eot?#iefix') format('embedded-opentype'), url($pathMaster + 'assets/fonts/ITCAvantGardeStd-Demi.otf') format('opentype'),
  url($pathMaster + 'assets/fonts/ITCAvantGardeStd-Demi.woff') format('woff'), url($pathMaster + 'assets/fonts/ITCAvantGardeStd-Demi.ttf') format('truetype'), url($pathMaster + 'assets/fonts/ITCAvantGardeStd-Demi.svg#ITCAvantGardeStd-Demi') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*temporary*/
@font-face {
  font-family: 'ITCAvantGardeGothicMedium';
  src: url($pathMaster + 'assets/fonts/392643_8_0.eot');
  src: url($pathMaster + 'assets/fonts/392643_B_0.eot?#iefix') format('embedded-opentype'), url($pathMaster + 'assets/fonts/392643_B_0.woff2') format('woff2'), url($pathMaster + 'assets/fonts/392643_B_0.woff') format('woff'), url($pathMaster + 'assets/fonts/392643_B_0.ttf') format('truetype');
  font-weight: normal !important;
}

@font-face {
  font-family: 'FalenaBold';
  src: url($pathMaster + 'assets/fonts/Falena-Bold.otf') format('opentype'), url($pathMaster + 'assets/fonts/Falena-Bold.woff') format('woff');
  font-weight: normal !important;
}

@font-face {
  font-family: 'CharlevoixPro-Regular';
  src: url($pathMaster + 'assets/fonts/dovato/CharlevoixPro-Regular.otf') format('opentype'), url($pathMaster + 'assets/fonts/dovato/CharlevoixPro-Regular.woff') format('woff');
  font-weight: normal !important;
}

@font-face {
  font-family: 'CharlevoixPro-Medium';
  src: url($pathMaster + 'assets/fonts/dovato/CharlevoixPro-Medium.otf') format('opentype'), url($pathMaster + 'assets/fonts/dovato/CharlevoixPro-Medium.woff') format('woff');
  font-weight: normal !important;
}

@font-face {
  font-family: 'CharlevoixPro-Bold';
  src: url($pathMaster + 'assets/fonts/dovato/CharlevoixPro-Bold.otf') format('opentype'), url($pathMaster + 'assets/fonts/dovato/CharlevoixPro-Bold.woff') format('woff');
  font-weight: normal !important;
}